<script type="text/template" id="xblock-grade-template">
  <% if (_.isNumber(max_attempts) && max_attempts > 0 && num_attempts >= max_attempts) {{ %>
  <p>Note: you have used all attempts. Continue to the next unit.</p>
  <% }} else {{ %>
  <p>Note: if you retake this assessment, only your final score counts.</p>
  <% }} %>
  <h2>You scored <%= score %>% on this assessment.</h2>
  <hr/>
  <% var q, last_question; %>
  <span class="assessment-checkmark icon-2x checkmark-correct icon-ok fa fa-check"></span>
  <div class="results-section"><p>You answered <%= correct_answer %> questions correctly<% if (enable_extended && correct.length) {{ %>:<% }} else {{ %>.<% }} %></p>
    <% if (enable_extended) {{ var questions = correct; %>
        <ul class="review-list correct-list">
           <% for (var question in questions) {{ q = questions[question]; last_question = question == questions.length - 1; %>
            <li><% if (last_question && ! (questions.length == 1)) {{ %>and <% }} %><a href="#" class="question-link" data-name="<%= q.id %>">Question <%= q.number %></a><% if (!last_question && ! (questions.length == 2)) {{ %>,<% }} %></li>
            <% }} %>
        </ul>
    <% }} %>
  </div>
  <div class="clear"></div>
  <span class="assessment-checkmark icon-2x checkmark-partially-correct icon-ok fa fa-check"></span>
  <div class="results-section"><p>You answered <%= partially_correct_answer %> questions partially correct<% if (enable_extended && partial.length) {{ %>:<% }} else {{ %>.<% }} %></p>
    <% if (enable_extended) {{ var questions = partial ;%>
        <ul class="review-list partial-list">
            <% for (var question in questions) {{ q = questions[question];%>
            <li><% if (last_question && ! (questions.length == 1)) {{ %>and <% }} %><a href="#" class="question-link" data-name="<%= q.id %>">Question <%= q.number %></a><% if (!last_question && ! (questions.length == 2)) {{ %>,<% }} %></li>
            <% }} %>
        </ul>
    <% }} %>
  </div>
  <div class="clear"></div>
  <span class="assessment-checkmark icon-2x checkmark-incorrect icon-exclamation fa fa-exclamation"></span>
  <div class="results-section"><p>You answered <%= incorrect_answer %> questions incorrectly<% if (enable_extended && incorrect.length) {{ %>:<% }} else {{ %>.<% }} %></p>
    <% if (enable_extended) {{ var questions = incorrect; %>
        <ul class="review-list incorrect-list">
            <% for (var question in questions) {{ q = questions[question];%>
            <li><% if (last_question && ! (questions.length == 1)) {{ %>and <% }} %><a href="#" class="question-link" data-name="<%= q.id %>">Question <%= q.number %></a><% if (!last_question && ! (questions.length == 2)) {{ %>,<% }} %></li>
            <% }} %>
        </ul>
    <% }} %>
  </div>
<div class="clear"></div>
</script>
