<fieldset class="choices questionnaire" data-hide_results="{{self.hide_results}}">
  <legend class="question">
    {% if self.show_title %}
      <h3 class="question-title">QUESTION {% if not self.lonely_step %}{{ self.step_number }}{% endif %}</h3>
    {% endif %}
    <p>{{ self.question }}</p>
  </legend>
  <div class="choices-list">
    {% for choice in custom_choices %}
    <div class="choice">
      <div class="choice-result fa icon-2x"></div>
      <div class="choice-selector">
        <input id="choice-{{ self.uuid }}-{{ choice.value }}" type="checkbox" name="{{ self.name }}" value="{{ choice.value }}" {% if choice.value in self.student_choices %} checked{% endif %} />
      </div>
      <label class="choice-label" for="choice-{{ self.uuid }}-{{ choice.value }}">
        {{ choice.render.body_html|safe }}
      </label>
      <div class="choice-tips"></div>
    </div>
    {% endfor %}
    <div class="feedback"></div>
  </div>
</fieldset>
